<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VideoModel">
  <resultMap id="BaseResultMap" type="VideoModel">
    <id column="id" property="id" />
    <result column="path" property="path" />
    <result column="name" property="name" />
    <result column="image" property="image" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="base_column">
    path,name,image,create_time
  </sql>
  <sql id="all_column">
    id,<include refid="base_column"/>
  </sql>
  <sql id="insertColumns">
    <trim suffixOverrides=",">
      <if test="path != null">
        path,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
  </sql>
  <sql id="insertValues">
    <trim suffixOverrides=",">
      <if test="path != null">
        #{path},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="image != null">
        #{image},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
    </trim>
  </sql>
  <insert id="addEntity" parameterType="VideoModel">
    insert into video(<include refid="insertColumns"/>) values (<include refid="insertValues"/>)
  </insert>
  <update id="updateEntityByCond" parameterType="java.util.Map">
    update video
    <set>
      <if test="value != null and value.path != null">
        path = #{value.path},
      </if>
      <if test="value != null and value.name != null">
        name = #{value.name},
      </if>
      <if test="value != null and value.image != null">
        image = #{value.image},
      </if>
      <if test="value != null and value.createTime != null">
        create_time = #{value.createTime},
      </if>
    </set>
    <include refid="dynamic_where" />
  </update>
  <delete id="deleteEntity" parameterType="java.util.Map">
    delete from video <include refid="dynamic_where" />
  </delete>
  <select id="findEntityById" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="dynamic_output"/> from video <include refid="dynamic_where"/>
  </select>
  <select id="findEntityListByCond" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="dynamic_output"/> from video <include refid="dynamic_where"/> order by create_time desc
  </select>
  <sql id="dynamic_where">
    <where>
      <if test="input != null and input.path != null">
        and path = #{input.path}
      </if>
      <if test="input != null and input.name != null">
        and name = #{input.name}
      </if>
      <if test="input != null and input.image != null">
        and image = #{input.image}
      </if>
      <if test="input != null and input.nameQuery != null">
        and name LIKE concat(#{input.nameQuery},'%')
      </if>
      <if test="input != null and input.createTime != null">
        and create_time = #{input.createTime}
      </if>
      <if test="input != null and input.id != null">
        and id = #{input.id}
      </if>
      <if test="input != null and input.inIdList != null and input.inIdList.size >0 ">
        and id in <foreach collection="input.inIdList" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
      </if>
    </where>
  </sql>
  <sql id="dynamic_output">
    <trim suffixOverrides=",">
      <if test="output != null and output.path != null">
        path,
      </if>
      <if test="output != null and output.name != null">
        name,
      </if>
      <if test="output != null and output.image != null">
        image,
      </if>
      <if test="output != null and output.createTime != null">
        create_time,
      </if>
      <if test="output != null and output.id != null">
        id,
      </if>
    </trim>
  </sql>
</mapper>
